ul {
  padding-left: 0;
}

li {
  margin-bottom: 0.9em;
  display: block;
}

li .action {
  display: block;
  position: relative;
  float: right;
  margin: 0 0 0 15px;
  font-size:1.3em;
  cursor: pointer;
}
li .action:hover {
  text-decoration: none;
}

.hero {
  font-size: 2.5em;
  font-weight: bold;
}

.hero-action {
  cursor: pointer;
}

.done-list {
  color: #777;
}

.form {
  width: 320px;
}